.modelDigitalLockPasswordInputContainer {
    display: flex;
    /* max-width: 1440px; */
    align-items: center;
    justify-content: center;
}

.modelDigitalLockPasswordInputFormContainer {
    /* display: flex; */
}
.modelDigitalLockPasswordInputForm {
    label {
        margin: 5px auto;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
    }

    input {
        margin: 5px;
        color: var(--text-color);
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type='submit'] {
        width: 180px;
        display: block;
        margin: 5px auto;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        /* margin-top: 30px; */
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }
}
