.pannel3DLoginPageContainer {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 10px;
    z-index: 99;
}

.controls3DModelContainer {
    background-color: var(--header-background-color);
    width: 280px;
    border-radius: 8px;
    margin: 10px;
    position: sticky;
    top: 10px;
    color: var(--btn-text-color);
}
.control3DModelHeaderContainer {
    height: 39px;
    display: flex;
    justify-content: space-between;
}

.control3DModelHeaderArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    user-select: none;
    cursor: pointer;
}
.control3DModelHeaderArrow svg {
    fill: #8c8c8c;
}
.control3DModelHeaderArrow:hover {
    svg {
        fill: #e6e6e6;
    }
}

.control3DModelHeaderBurger {
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
}

.control3DModelHeaderBurger svg {
    fill: #8c8c8c;
}

/* .control3DModelHeaderSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    user-select: none;
    cursor: pointer;
} */

.control3DModelValuesContainer {
    /* margin: 5px; */
    opacity: 1;
    overflow: hidden;
    /* background-color: rgba(34, 34, 34, 0.8); */
    transition:
        height 0.2s ease-in-out,
        opacity 0.1s ease-in-out;
}
/* .control3DModelValuesContainerCollapsed {

    opacity: 0;
    height: 0px;
    overflow: hidden; 
    transition: height 0.2s ease-in-out, opacity 0.5s ease-in-out;
} */

.control3DModelValuesItemContainer {
    /* display: flex; */
    /* color: #eeeeee; */
    display: flex;
    padding: 6px 10px 0;
    margin-bottom: 10px;
}

.control3DModelValuesLabelSVGContainer {
    display: flex;
    align-items: center;
    height: 24px;
    width: 150px;
}

.control3DModelValuesSvgContainer {
    display: flex;
    width: 13px;
    margin-left: 10px;
    opacity: 0;
}

.control3DModelValuesLabelSVGContainer:hover {
    .control3DModelValuesSvgContainer {
        opacity: 1;
    }
}

.control3DModelValuesInputBoxContainer {
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.control3DModelValuesInputBoxContainer label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-color: rgba(34, 32, 32, 0.8);
    border-radius: 3px;
}

.control3DModelValuesInputBoxContainer label > svg {
    display: none;
    width: 90%;
    height: 90%;
    stroke: #fefefe;
}

.control3DModelValuesInputBoxInput {
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
    border: none;
    background-color: transparent;
    appearance: none;
    height: 0px;
    width: 0px;
    opacity: 0;
    margin: 0px;
}

.control3DModelValuesInputBoxInput:checked
    + label
    .control3DModelValuesInputBoxSvg {
    display: block; /* Show when checkbox is checked */
}

@media (width < 800px) {
}

@media (width >= 800px) {
}

@media (width >= 1400px) {
}

.control3DModelValuesInputBoxContainer input:disabled + label {
    cursor: not-allowed;
}
