.mainContentDivContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;

    /* .hero {
        max-width: 200px;
    } */

    /* span {
        display: flex;
        gap: 25px;
        justify-content: center;

        a {
            margin: 0;

            img {
                width: 30px;
            }
        }
    } */

    /* a {
        width: fit-content;
        align-self: center;
    } */
}

.MainContentButtonContainer {
    button {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .MainContentButton {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        width: 126px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition:
            box-shadow 200ms ease-in-out,
            transform 200ms ease-in-out;
    }

    .MainContentResumeButtonContainer:hover,
    .MainContentContactButtonContainer:hover {
        transform: scale(1.05);
    }

    .MainContentButton:active {
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
}

/* .profileColorModeContainer {
    position: relative;
} */
.colorModeContainer {
    position: relative;
}
.colorModeButton {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--btn-text-color);
    border: none;
    font-size: 45px;
    font-weight: bold;
    transition:
        box-shadow 200ms ease-in-out,
        transform 200ms ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.colorModeButtonSVG {
    position: relative;
    width: 50px;
    height: 50px;
}

/* .colorMode {
    position: relative;
    left: 160px;
    top: 40px;
    width: 25px;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.colorMode:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-2px);
    transform: translateY(-2px);
} */

.shine {
    position: absolute;
    top: 0px;
    left: 0px;
    stroke: #fff;
    stroke-width: 7px;
}
.sunMoon {
    stroke-width: 3px;
}
.sunRays {
    /* width: 100px;
    height: 100px; */
    path {
        stroke-width: 5;
        stroke: #fc9601;
    }
}

.descriptionContainer {
    /* min-width: 350px; */
    display: flex;
    justify-content: center;

    .description {
        max-width: 24ch;
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
        display: flex;
        gap: 25px;
        justify-content: center;

        a {
            margin: 0;

            img {
                width: 30px;
            }
        }
    }

    a {
        width: fit-content;
        align-self: center;
    }
}

.profileContainer {
    border-radius: calc(200px / 2);
    height: 200px;
    width: 200px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;

    .hero {
        /* max-width: 200px; */

        height: 200px;
        min-width: 100%;
        max-width: none;
        margin: 0 -100%;
    }

    /* img {
        height: 200px;
        min-width: 100%;
        max-width: none;
        margin: 0 -100%;
    } */
}

/* .mainContentDivContainer-wide {
	height:$size;
	width:$size * 2;
	overflow:hidden;
	text-align: center;
	margin:0 auto;
	
		img {
			min-height:$size;
		    width:100%;
			max-width:none;
			margin:0 -100%;
		}
} */

.MainContentButtonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;

    .MainContentResumeButtonContainer {
        .MainContentButton {
            width: 156px;
        }
    }
    .MainContentContactButtonContainer {
        .MainContentButton {
            width: 156px;
        }
    }
}

@media (width >= 800px) {
    .mainContentDivContainer {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;

        /* .hero {
            max-width: 350px;
            width: 350px;
        } */

        .profileContainer {
            border-radius: calc(350px / 2);
            height: 350px;
            width: 350px;
        }
        .hero {
            /* max-width: 200px; */

            height: 350px;
        }
    }
    .descriptionContainer {
        min-width: 400px;
    }

    .colorModeButton {
        position: absolute;
        right: 0px;
    }
}

@media (width >= 1400px) {
    .mainContentDivContainer {
        justify-content: center;
        /* .hero {
            max-width: 400px;
            width: 400px;
        } */

        .profileContainer {
            border-radius: calc(400px / 2);
            height: 400px;
            width: 400px;
        }
        .hero {
            /* max-width: 200px; */

            height: 400px;
        }
    }

    .descriptionContainer {
        min-width: 700px;

        .description {
            max-width: 41ch;
        }
    }
}
